<html>
<head>
<link rel="stylesheet" href="/static/tsa/style.css">
</head>
<body>
    
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}
  
  
  <h2>Log In</h2>
  
  <p>Log in below with your username and password, or simply use the link in your email.</p>
  
  <form action='/accounts/login/' method='post'>
    <label for="username">User name:</label>
      <input type="text" name="username" value="" id="username"><br>
    <label for="password">Password:</label>
      <input type="password" name="password" value="" id="password"><br>

    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="/" />
  </form>
  
  <p><a href="/accounts/create">Create Account</a></p>
  

  
</body>
</html>