
#footer {
	background-color:#CECECE;
	border-bottom:1px solid #666666;
	font-size:smaller;
	margin-top:10px;
	padding:1px;
	text-align:center;
}

#header {
	background-color:#CECECE;
	border-top:1px solid #666666;
	font-size:small;
	margin-top:10px;
	padding:5px;
	text-align:center;
}

#team-board > table {
	border: 1px solid gray;
	border-spacing: 2px;
}
#team-board > table td{
	border: 1px solid gray;	
}



.datatable {
	background-color:#EEEEEE;
	border:1px solid #999999;
}

ul{
	margin-left: 0px;
	padding-left: 20px;
}

a:visited{
	color:blue;
}

table.aligner td{

	text-align: left;
}

table.aligner td:first-child{

	text-align: right;
}


.blueback td {
	background-color:#E8E8FF;
}
.greenback td {
	background-color:#DDFFDD;
}
.redback td {
	background-color:#FFDDDD;
}
.yellowback td{
	background-color: #FFFFD2;
}
td.errorback, .errorback td{
	background-color:#FF9999;
}
.errortext {
	color:#FF0000;
	font-weight: bold;
}


body {
/*font-family: Georgia, "Times New Roman", Times, serif;*/
font-size: 10pt;
}

.green {
	color:#008800;
}
.red {
	color:#CC0000;
}

.bold {
	font-weight: bold;
}

td.right{
text-align: right;
}

.center > td{
text-align: center;
}

.header {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: x-large;
font-weight: bold;
color: #993300;
}
.name {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: large;
}
.bigname {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: x-large;
}
.dbheader {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: x-large;
font-weight: bold;
color: #0000FF;
}
.text {  
font-family: Georgia, "Times New Roman", Times, serif;
}
img {
	border:none;
}
.tabular_list th {
	border:1px solid;
	border-color:#ddd #999 #888 #ddd;
	background-color:#ddd;
	font-weight:bold;
	text-align:center;
	color:#003;
	padding:2px;
	padding-bottom:0px;
	font-size:.9em;
}



.tabular_list td {
	border:1px solid;
	text-align:center;
	border-color:#fff #bbb #bbb #fff;
	padding:1px;
	font-size:.9em;
}

/* Error message style */
.error{
	margin: 20px;
	text-align: center;
	/*background: #FFCE7B;*/
	background: #FFCCCC;
	border: 1px solid red;
}

/* Error message style */
.info {
	margin: 20px;
	text-align: center;
	background: #E0FEE1;
	border: 1px solid #CCCCCC;
}




